pkgbase = primesieve
	pkgdesc = A fast prime number generation program and C/C++ library
	pkgver = 7.1
	pkgrel = 1
	url = https://primesieve.org/
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = help2man
	depends = gcc-libs
	provides = libprimesieve.a
	provides = libprimesieve.so
	source = https://github.com/kimwalisch/primesieve/archive/v7.1.tar.gz
	sha1sums = 293db5261e443df7147e760a9ca0b919982381c1

pkgname = primesieve

